* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  margin: auto;
  /* overflow-x: hidden; */
}
p,
li {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
a,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  word-break: break-word;
}
