body {
  margin: auto;
  max-width: 744px !important;
  padding: 2rem 0.5rem 2rem 0 !important;
  @include tablet-portrait-up {
    padding: 3rem 1rem !important;
  }
}
pre {
  overflow-x: auto;
}
.jp-Cell {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.jp-RenderedHTMLCommon {
  padding-right: 0 !important;
}
